<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1><%= title %></h1>
	<div><input type = "text" id = "username">username</input></div>
	<div><input type = "password" id = "password">password</input></div>
	<div><button type="submit" id="submit">login</button></div>
	<script src="./javascripts/axios.js"></script>
	<script type = "text/javascript" src = "./javascripts/login.js"></script>
</body>
</html>
